@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #DAD3BE;
}


.effect:hover{
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #254336;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

 
 button.learn-more {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #254336;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #254336, 0 0.625em 0 0 #254336;
  box-shadow: 0 0 0 2px #6B8A7A, 0 0.625em 0 0 #6B8A7A;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 button.learn-more:hover {
  background: #DAD3BE;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #6B8A7A, 0 0.5em 0 0 #6B8A7A;
  box-shadow: 0 0 0 2px #6B8A7A, 0 0.5em 0 0 #6B8A7A;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 button.learn-more:active {
  background: #6B8A7A;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #6B8A7A, 0 0 #6B8A7A;
  box-shadow: 0 0 0 2px #6B8A7A, 0 0 #6B8A7A;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }

 .icon {
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: translateX(-10px);
}

.image{
  transition: transform 0.3s ease;
}

.image:hover{
  transform: translateY(-10px);
}